@import "src/components/ReleasesSlider/ReleasesSlider.module";
@import "../MovieCard/MovieCard.module";

.shows {

  &__movies {

    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      color: $default;
      transition: opacity 0.5s;
      z-index: 10;

      &::after {
        font-size: 16px;
        font-weight: 800;
      }

      &:hover,
      &:focus,
      &:active {
        opacity: 0.5;
      }
    }

    :global(.swiper-button-next) {
      right: 75px;
    }
  }

  &__movie,
  &__skeleton {
    max-width: 500px;
    height: 735px;
    background-size: cover;
    padding: 15px;

    &:hover {
      opacity: 1;
    }
  }

  &__skeleton {
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0 15px 4px rgba(58, 58, 58, 0.27);
  }


  &__title {
    font-size: 32px;
  }

  &__genre {
    max-width: 130px;
    font-size: 16px;
  }
}