.shows__movies :global(.swiper-button-prev), .shows__movies :global(.swiper-button-next) {
    transition: opacity 0.5s;
    z-index: 10;
}

.shows__movies :global(.swiper-button-prev)::after, .shows__movies :global(.swiper-button-next)::after {
    color: #e7cd1e;
    font-size: 16px;
    font-weight: 800;
}

.shows__movies :global(.swiper-pagination-bullet) {
    background-color: #e7cd1e;
    transition: opacity 0.5s;
}

.shows__movies :global(.swiper-button-prev):hover, .shows__movies :global(.swiper-button-next):hover, .shows__movies :global(.swiper-button-prev):focus, .shows__movies :global(.swiper-button-next):focus, .shows__movies :global(.swiper-button-prev):active, .shows__movies :global(.swiper-button-next):active {
    opacity: 0.5;
}

.shows__movie, .shows__skeleton {
    max-width: 500px;
    height: 400px;
    background-size: cover;
    padding: 15px;
}

.shows__movie:hover, .shows__skeleton:hover {
    opacity: 1;
}

.shows__skeleton {
    background-color: #fec356;
    box-shadow: 0 0 15px 4px rgb(255, 197, 2);
}

.shows__title {
    font-size: 32px;
}

.shows__genre {
    max-width: 130px;
    font-size: 16px;
}

.title {
    font-size: 24px;
    align-self: center;
}

.title:hover, .title:focus, .title:active {
    opacity: 1;
}