.cardGenre {
    justify-content: center;
    max-width: 60px;
    width: 100%;
}

.genre {
    color: #f1dd0f;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 0 8px;
    background: rgba(29, 29, 29, 0.5);
    max-width: 130px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showGenre {
    max-width: 130px;
    font-size: 16px;
}