@import "src/App.module";
@import "src/scss/global.module";

.mainScreen {

  &__background,
  &__skeleton {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 100vh;
    display: block;
    position: relative;

    &::after {
      content: '';
      background-image: url(../../../src/assets/images/background/overlay.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &__info {
    padding: 180px 0 180px 180px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    position: absolute;
    max-width: 635px;
    width: 100%;
    z-index: 10;
    color: $default;
  }

  &__skeleton {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0 15px 4px rgba(58, 58, 58, 0.27);
  }

  &__title {
    font-size: 56px;
  }

  &__description {
    line-height: 2;
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    color: $default;
    transition: opacity 0.5s;

    &::after {
      font-size: 20px;
      font-weight: 800;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 0.5;
    }
  }

  :global(.swiper-pagination-bullet) {
    background-color: $default;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    padding: 5px;
  }

  :global(.swiper-pagination) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}