.search {
    max-width: 350px;
    width: 100%;
    position: relative;
}

input {
    width: 100%;
}

input .wrapper.dark {
    background-color: rgb(58, 58, 58);
    border: 2px solid #ffc502;
}

.search__input .wrapper.dark {
    background-color: rgb(58, 58, 58);
    padding: 10px 25px 10px 15px;
    border: 1px solid #ffc502;
    max-width: 350px;
    width: 100%;
    outline: none;
    color: #ffffff;
    position: relative;
    transition: opacity 0.5s, color 0.5s, background-color 0.5s;
}

input .wrapper.light {
    background-color: #f4f4f4;
    border: 1px solid #f3df0f;
}

.search__input .wrapper.light {
    background-color: #e7cd1e;
    padding: 10px 25px 10px 15px;
    border: 1px solid #f3df0f;
    max-width: 350px;
    width: 100%;
    outline: none;
    color: #ffffff;
    position: relative;
    transition: opacity 0.5s, color 0.5s, background-color 0.5s;
}

.search__input:hover {
    opacity: 0.5;
}

.search__btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    display: block;
    border: none;
    transition: opacity 0.5s;
}

.search__btn::before, .search__btn::after {
    content: '';
    height: 15px;
    width: 2px;
    background-color: #F3DF0F;
    position: absolute;
    right: 10px;
    bottom: -6px;
}

.search__btn::before {
    transform: rotateZ(45deg);
}

.search__btn::after {
    transform: rotateZ(-45deg);
}

.search__btn:hover, .search__btn:focus, .search__btn:active {
    opacity: 0.5;
}